.pile {
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  place-items: center;
}

.hand {
  height: 100px;
/*   border: 1px solid black; */
  display: flex;
  place-items: center;
}

.opponents {
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  place-items: center;
}


.pile {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px; 
  min-width: 200px;
  display: flex;
  justify-content: center;
}

.control-panel {
  display: flex;
}
